body{
    margin: 0;
    padding: 0;
}
/* navigation bar */
header{
    background-color: #303030;
}
.wrap{
    max-width: 1140px;
    margin: 0px 44px;
}
.clearfix{
    clear: both;
    content: "";
    display: table;
}
.main-header{
    width: 100%;
}
.left{
    float: left;
    padding-top: 0px;
    padding-bottom: 6px;
}
.right{
    float: right;
    padding-right: 177px;
    padding-top: 26px;
}
.right ul li{
    display: inline;
    padding: 10px 15px 5px 15px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.right a{
    text-decoration: none;
    color: #ffffff;
    padding-top: 10px;
}
.icon-glass{
    float: right;
    transform: translate(830%,-17%);
    
}
.back-color{
    background-color: #e8631c;
    height: 35px;
}
/* dance-title */
.dance-title{
    background-image: url("../image/back1.png");
    height: 669px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-text{
    transform: translate(10%,120%);
    color: white;

}
.title{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 4.5rem;
}
.title-text{
    font-family: 'Montserrat', sans-serif;
}
.btn-light{
    border-width: medium;
    text-transform: uppercase;
    font-size: 1rem!important;
    padding: 0.6rem 3.2rem!important;
    color:white!important;
    background-color: #e8631c!important;
    border-color:  #e8631c!important;
    margin-left: 9px;
    margin-top: 65px;
}
/* dance tour */
.dance-tour{
    background-image: url("../image/main-back.png");
    height: 669px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.row-pricing{
    text-align: center;
    padding-top: 57px;

}
.heading-pricing{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 27px;
}
.heading-pricing1{
    font-family: 'Montserrat', sans-serif;
    width: 75%;
    padding-left: 440px;
    padding-bottom: 80px;
    color: white;

}
.box{
    margin-left: 117px;
    border: none;
    text-decoration: none;
    border-color: #303030;
}
.card-img-top{
    margin-top: 14px;
}
.card-body{
    background-color: #303030;
    margin-top: -1px;
}
.card-title{
    font-family: 'Oswald', sans-serif;
    color: white !important;
    padding-top: 10px;
}
.card-text{
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    padding-top: 10px;
    font-size: 0.9rem;
    padding-bottom: 27px;
}
/* pricing */
.pricing{
    background-image: url("../image/main-back2.png");
    height: 669px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.award{
    margin-left: 117px;
}
.fa-award{
    padding-left: 118px;
    padding-top: 44px;
}
.basic-text{
    font-family: 'Oswald', sans-serif;
    color: white !important;
    padding-top: 38px;
    text-align: center;
}
.card-text2{
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    padding-top: 10px;
    font-size: 0.9rem;
    padding-bottom: 0px;
    padding-left: 47px;
}
.card-body1{
    background-color: #e8631c;
}
.button-register{
    border-width: medium;
    text-transform: uppercase;
    font-size: 1rem!important;
    padding: 0.6rem 3.2rem!important;
    color:white!important;
    background-color:#303030!important;
    margin-left: 62px;
    margin-top: 2px;
    margin-bottom: 10px;
}
/* amazing-dance */
.amazing-dance{
    background-image: url("../image/main-back3.png");
    height: 956px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.experience{
    position: absolute;
    margin-top: 382px;
    margin-left: 821px;
}
.new-text{
    font-family: 'Oswald', sans-serif;
    color: white !important;
    margin-bottom: 51px;
    font-size: 3rem;
    font-weight: 700;
}
.new-text1{
    font-family: 'Montserrat', sans-serif;
    color: white ;
    margin-top:  31px;
    width: 65%;
}
.button-more{
    font-family: 'Oswald', sans-serif;
    border-width: medium;
    text-transform: uppercase;
    font-size: 1rem!important;
    padding: 0.6rem 3.2rem!important;
    color:white!important;
    background-color: #303030!important;
    margin-left: 9px;
    margin-top: 27px;
}
/* best-dance */
.best-dance{
    background-image: url("../image/main-back4.png");
    height: 956px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.amazing{
    position: absolute;
    margin-top: 205px;
    margin-left: 62px;
}
.new-text2{
    font-family: 'Montserrat', sans-serif;
    color: white ;
    margin-top:  31px;
    width: 44%;
}
/* our-statistics */
.our-statistics{
    background-color: #303030;
    height: 900px;
}
.row-statistics{
    text-align: center;
    padding-top: 175px;

}
.row-count{
    text-align: center;
    padding-top: 40px;
}
.text1{
    font-family: 'Oswald', sans-serif;
    color: white !important;
    font-weight: 700;
}
.text2{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* herbert-simon */
.herbert-simon{
    background-image: url("../image/main-back5.png");
    height: 956px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.simon-para{
    text-align: center;
    padding-top: 339px;
}
.simon{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 2rem;
    width: 71%;
    padding-left: 436px;
}
.herbert{
    font-family: 'Oswald', sans-serif;
    color: white !important;
    font-weight: 700;
    padding-top: 47px;
}
/* subscribe */
.subscribe{
    background-image: url("../image/footer-back.png");
    height: 598px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.row-subscribe{
    text-align: center;
    padding-top: 100px;
}
/* .update-section{
    background-color: #6c9894;
    height: 641px;
    position: relative;
} */
.row-updte{
    padding-top: 162px;
}
/* .dont-miss{
    font-family: 'Tilt Neon', cursive;
    color: white; */

.dolor-text{
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 65%;
    padding-left: 533px;
    margin-top: 40px;
}
.input-group .form-control{
    height: 50px;
    background: #ffffff;
    border-color: transparent;
    margin-left: 434px;
    font-family: 'Montserrat', sans-serif;
    color: #96c5c1;
    
}
.subscribe .btn{
    min-height: 50px;
    margin-right: 418px !important;
    background-color: #303030!important;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.input-group{
    padding-top: 54px;
}
/* footer */
.footer{
    background-color: #303030;
    height: 478px;
}
.footer-text{
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    margin-top: 150px;
    padding-left: 60px;
    font-size: 1.5rem;
}
.footer-para{
    width: 55%;
    margin-top: 20px;
    padding-left: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1rem;
}
.about{
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    margin-top: 150px;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 1.5rem;
}
.a-text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-top: 18px;
    text-decoration: none;
    line-height: 1.9rem;
}
.Services{
    margin-top: 150px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
}
.b-text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-top: 18px;
    text-decoration: none;
    line-height: 1.9rem;
}
.Follow{
    margin-top: 150px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
}
.c-text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-top: 18px;
    text-decoration: none;
    line-height: 2rem;
}
.img{
    width: 23px;
}